/*
 * Local Mastra Studio fonts. Bundled into the public `mastra` CLI build.
 * Mona Sans (display + body) and Commit Mono (code) are both SIL OFL — safe to
 * redistribute in the open-source package (see OFL-MonaSans.txt and
 * OFL-CommitMono.txt). Non-OFL product fonts stay outside this package.
 */

@font-face {
  font-family: 'Mona Sans';
  src:
    local('Mona Sans'),
    url('./assets/fonts/MonaSans-VariableFont_wdth-wght.ttf') format('truetype');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CommitMono;
  src:
    local('Commit Mono'),
    url('./assets/fonts/CommitMono-400-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CommitMono;
  src:
    local('Commit Mono'),
    url('./assets/fonts/CommitMono-700-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
